@{
    Layout=null;
}

<!DOCTYPE>
<html>
    <head>
        <meta name="viewport" content="width=device=width" />
        <title>Przyjecie sylwrstrowe</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"
    </head>

    <body>
        <div class="text-center">
            <!-- @ViewBag.Greeting -->
            <h2>Zapraszam na wspaniałe przyjęcie. </h2> 
            <h3>Ty też zostałeś zaproszony!</h3>
           
            <a class="btn btn-primary" asp-action="RsvpForm">Wyślij RSVP</a>
        </div>

    </body>
</html>